<div class="home-container">
  <mat-card class="pokemon-card">
    <mat-card-header>
      <mat-card-title>Pokemon App</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="pokemon-image" src="../../../assets/pokemon.png" alt="Photo of a Pokemon">
    <mat-card-content>
      <h1>This App is implemented using:</h1>
      <mat-list>
        <mat-list-item>
          <h3>Angular</h3>
        </mat-list-item>
        <mat-list-item>
          <h3>Angular Material</h3>
        </mat-list-item>
        <mat-list-item>
          <h3>NgRx State Management for Angular</h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
